#container {
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fff;
  border: 0px solid;
  border-radius: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}

.list > li {
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

h4 {
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 45%;
  margin-top: 5%;
}
